<h2>user info</h2>
<%= attachment_image_tag user, :profile_image %>
<table class="table">
  <tbody>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
  </tbody>
</table>
<% if @user.id == current_user.id %>
<div class="row">
  <div class="btn btn-outline-secondary btn-block fas fa-user-cog">
  <%= link_to, edit_user_path(user) %>
  </div>
</div>
<% end %>