<h2>user info</h2>
<% users.each do |user| %>
<%= attachment_image_tag user, :profile_image, :fill, 63,63, format: 'jpeg', fallback: "no_image.jpg" %>
<table class="table">
  <tbody>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
  </tbody>
  <% end %>
</table>
<% if @user.id == current_user.id %>
<div class="row">
  <a class="btn btn-outline-secondary btn-block fas fa-user-cog" href="/users/:id/edit">
  </a>
</div>
<% end %>